.van-stepper {
	&__minus,
	&__plus {
		background-color: var(--stepper-background-color, #f2f3f5);
		border: 0;
		box-sizing: border-box;
		color: var(--stepper-button-icon-color, #323233);
		display: inline-block;
		height: var(--stepper-input-height, 28px);
		margin: 1px;
		padding: var(--padding-base, 4px);
		position: relative;
		vertical-align: middle;
		text-align: center;
		width: var(--stepper-input-height, 28px);

		&::before {
			height: 1px;
			width: 9px;
		}

		&::after {
			height: 9px;
			width: 1px;
		}

		&:empty {
			&.van-stepper__minus,
			&.van-stepper__plus {
				&::after,
				&::before {
					background-color: currentColor;
					bottom: 0;
					content: '';
					left: 0;
					margin: auto;
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}

		&--hover {
			background-color: var(--stepper-active-color, #e8e8e8);
		}

		&--disabled {
			color: var(--stepper-button-disabled-icon-color, #c8c9cc);

			&,
			&.van-stepper__minus--hover,
			&.van-stepper__plus--hover {
				background-color: var(--stepper-button-disabled-color, #f7f8fa);
			}
		}
	}
}

.van-stepper {
	&__minus {
		border-radius: var(--stepper-border-radius, var(--stepper-border-radius, 4px)) 0 0
			var(--stepper-border-radius, var(--stepper-border-radius, 4px));

		&::after {
			display: none;
		}
	}

	.van-stepper__plus {
		border-radius: 0 var(--stepper-border-radius, var(--stepper-border-radius, 4px))
			var(--stepper-border-radius, var(--stepper-border-radius, 4px)) 0;
	}
}

.van-stepper--round {
	.van-stepper__input {
		background-color: initial !important;
	}

	.van-stepper__minus,
	.van-stepper__plus {
		border-radius: 100%;
		&:active {
			opacity: 0.7;
		}

		&--disabled {
			&,
			&:active {
				opacity: 0.3;
			}
		}
	}

	.van-stepper__plus {
		background-color: #ee0a24;
		color: #fff;
	}

	.van-stepper__minus {
		background-color: #fff;
		border: 1px solid #ee0a24;
		color: #ee0a24;
	}
}

.van-stepper__input {
	-webkit-appearance: none;
	background-color: var(--stepper-background-color, #f2f3f5);
	border: 0;
	border-radius: 0;
	border-width: 1px 0;
	box-sizing: border-box;
	color: var(--stepper-input-text-color, #323233);
	display: inline-block;
	font-size: var(--stepper-input-font-size, 14px);
	height: var(--stepper-input-height, 28px);
	margin: 1px;
	min-height: 0;
	padding: 1px;
	text-align: center;
	vertical-align: middle;
	width: var(--stepper-input-width, 32px);

	&--disabled {
		background-color: var(--stepper-input-disabled-background-color, #f2f3f5);
		color: var(--stepper-input-disabled-text-color, #c8c9cc);
	}
}
