@import '../../common/style.scss';

.van-loading {
	align-items: center;
	color: var(--loading-spinner-color, #c8c9cc);
	display: inline-flex;
	justify-content: center;

	&__spinner {
		animation: van-rotate var(--loading-spinner-animation-duration, 0.8s) linear infinite;
		box-sizing: border-box;
		height: var(--loading-spinner-size, 30px);
		max-height: 100%;
		max-width: 100%;
		position: relative;
		width: var(--loading-spinner-size, 30px);

		&--spinner {
			animation-timing-function: steps(12);
		}

		&--circular {
			border: 2px solid transparent;
			border-radius: 100%;
			border-top-color: initial;
		}
	}

	&__text {
		color: var(--loading-text-color, #969799);
		font-size: var(--loading-text-font-size, 14px);
		line-height: var(--loading-text-line-height, 20px);
		margin-left: var(--padding-xs, 8px);

		&:empty {
			display: none;
		}
	}

	&--vertical {
		flex-direction: column;

		.van-loading__text {
			margin: var(--padding-xs, 8px) 0 0;
		}
	}

	&__dot {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		&:before {
			background-color: currentColor;
			border-radius: 4px;
			content: ' ';
			display: block;
			height: 25%;
			margin: 0 auto;
			width: 2px;
		}

		&:first-of-type {
			opacity: 1;
			transform: rotate(30deg);
		}

		&:nth-of-type(2) {
			opacity: 0.9375;
			transform: rotate(60deg);
		}

		&:nth-of-type(3) {
			opacity: 0.875;
			transform: rotate(90deg);
		}

		&:nth-of-type(4) {
			opacity: 0.8125;
			transform: rotate(120deg);
		}

		&:nth-of-type(5) {
			opacity: 0.75;
			transform: rotate(150deg);
		}

		&:nth-of-type(6) {
			opacity: 0.6875;
			transform: rotate(180deg);
		}

		&:nth-of-type(7) {
			opacity: 0.625;
			transform: rotate(210deg);
		}

		&:nth-of-type(8) {
			opacity: 0.5625;
			transform: rotate(240deg);
		}

		&:nth-of-type(9) {
			opacity: 0.5;
			transform: rotate(270deg);
		}

		&:nth-of-type(10) {
			opacity: 0.4375;
			transform: rotate(300deg);
		}

		&:nth-of-type(11) {
			opacity: 0.375;
			transform: rotate(330deg);
		}

		&:nth-of-type(12) {
			opacity: 0.3125;
			transform: rotate(1turn);
		}
	}
}

@keyframes van-rotate {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(1turn);
	}
}
