.van-tag {
	align-items: center;
	border-radius: var(--tag-border-radius, 2px);
	color: var(--tag-text-color, #fff);
	display: inline-flex;
	font-size: var(--tag-font-size, 12px);
	line-height: var(--tag-line-height, 16px);
	padding: var(--tag-padding, 0 4px);
	position: relative;

	&--default {
		background-color: var(--tag-default-color, #969799);

		&.van-tag--plain {
			color: var(--tag-default-color, #969799);
		}
	}
	&--danger {
		background-color: var(--tag-danger-color, #ee0a24);

		&.van-tag--plain {
			color: var(--tag-danger-color, #ee0a24);
		}
	}
	&--primary {
		background-color: var(--tag-primary-color, #1989fa);

		&.van-tag--plain {
			color: var(--tag-primary-color, #1989fa);
		}
	}
	&--success {
		background-color: var(--tag-success-color, #07c160);
		&.van-tag--plain {
			color: var(--tag-success-color, #07c160);
		}
	}
	&--warning {
		background-color: var(--tag-warning-color, #ff976a);
	}
	&--warning {
		&.van-tag--plain {
			color: var(--tag-warning-color, #ff976a);
		}
	}
	&--plain {
		background-color: var(--tag-plain-background-color, #fff);
		&:before {
			border: 1px solid;
			border-radius: inherit;
			bottom: 0;
			content: '';
			left: 0;
			pointer-events: none;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	&--medium {
		padding: var(--tag-medium-padding, 2px 6px);
	}
	&--large {
		border-radius: var(--tag-large-border-radius, 4px);
		font-size: var(--tag-large-font-size, 14px);
		padding: var(--tag-large-padding, 4px 8px);
	}
	&--mark {
		border-radius: 0 var(--tag-round-border-radius, var(--tag-round-border-radius, 999px))
			var(--tag-round-border-radius, var(--tag-round-border-radius, 999px)) 0;
		&:after {
			content: '';
			display: block;
			width: 2px;
		}
	}
	&--round {
		border-radius: var(--tag-round-border-radius, 999px);
	}
	&__close {
		margin-left: 2px;
		min-width: 1em;
	}
}
